!Clipboard
URxvt.keysym.Control-Shift-V: perl:clipboard:paste
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.perl-ext-common: default,clipboard,matcher

!URL
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!Font
URxvt.font: xft:monospace:size=24:style=Regular:antialias=true
URxvt.boldFont: xft:monospace:size=24:style=Bold:antialias=true
URxvt.letterSpace: -0.5

!Internal border
URxvt*internalBorder: 24

!Some other shit
URxvt.scrollBar: false
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URcvt.scrollTtyKeypress: true

!Colors
URxvt.background: rgba:1234/1234/1234/a000
URxvt.foreground: #ffffff
URxvt.cursorColor: #ffffff
URxvt.depth: 32

!Black
URxvt.color0: #151515
URxvt.color8: #505050
!Red
URxvt.color1: #ac4142
URxvt.color9: #ac6667
!Green
URxvt.color2: #89a840
URxvt.color10: #91a863
!Yellow
URxvt.color3: #f5b85d
Urxvt.color11: #f5cd90
!Blue
URxvt.color4: #4597b5
URxvt.color12: #6a9fb5
!Magenta
URxvt.color5: #ab5298
URxvt.color13: #aa759f
!Cyan
URxvt.color6: #45b5a0
URxvt.color14: #75b5aa
!White
URxvt.color7: #b9b9b9
URxvt.color15: #f5f5f5
